* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  
  margin: 0;
  padding: 0;
  background: url("./assets/sunset.jpg") no-repeat center center/cover;
}
p {
  font-size: 30px;
}

h1 {
  font-size: 120px;
}
h2{
  padding-bottom: 30px;
  font-size: 50px;
}
button{
  position: absolute;
  padding: 12px 30px;
  font-size: 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8 ;
  cursor: pointer;
}
button:hover{
  color: rgb(0, 0, 0, 0.4);
  background: rgb(248, 248, 248,0.3);
  -webkit-transition: .5s;
  transition: .5s;

}
.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #fff;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.app .search {
  position: relative;
  text-align: center;
  margin-top: -80px;
}
.app input {
  padding: 12px 30px;
  font-size: 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}
.placeholder {
  color: #f8f8f8;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .top {
  position: absolute;
  left: 10%;
  bottom: 50%;
}
.container .description {
  position: absolute;
  left: 80%;
  bottom: 55%;
}
.container .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
